/*style.css*/

header {
	margin-top: 40px;
}


body{
	font-family: 'Open Sans', sans-serif;
}

.card {
	margin-top: 100px;
}

#descrip {
	margin-top:50px;
}


#holder {
	margin-top: 43.2px;
}

#signin {
	max-width: 500px;
	margin-top: 131px;
}

#inputbox {
	margin-top: -30px;
}

#submitbutton {
	margin-top: 25px;
}

/*#llbox {
	width: 40px;
	height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}*/

/*.pincode-input-text, .form-control.pincode-input-text {
	width:35px;
	float:left;
}*/

#c1{
	margin-top: 100px;
}

#caword {
	margin-top: 200px;
	width: 300px;
}

/*#inputbox1{
	width: 300px;
}*/


#h233 {
	margin-top: 40px;
}

input{
	margin: 10px 0px;
	box-shadow: 0px -1px 0px 0px lightgray;
}

.displaylabel{
	float:left;
	font-weight: 550;
}

footer{
	margin-top: 80px;
	margin-bottom: 20px;
	font-size:small;
}