/*style.css*/

header {
	margin-top: 40px;
}

.card {
	margin-top: 100px;
}

#descrip {
	margin-top:50px;
}


#holder {
	margin-top: 43.2px;
}

#signin {
	max-width: 500px;
	margin-top: 131px;
}

#inputbox {
	margin-top: -30px;
}

#submitbutton {
	margin-top: 25px;
}